.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  min-width: 100vw; 
  transform: translateX(0);
  background: black;
  color: white;
  text-align: center;
  min-height: 75px;
  padding: 20px 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  z-index: 10;
}

.footer-section-title {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    width: 100vw;
    padding: 20px 0;
  }
}