.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}
  
.album {
    flex: 0 0 auto;
    margin: 0 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.album img {
    width: 100%;
    border-radius: 8px;
}

.album-detail {
    margin-top: 10px;
    text-align: center;
}

.album-detail img {
    max-width: 400px;
    margin-top: 10px;
    border-radius: 8px;
}

.scroll-container::-webkit-scrollbar {
    display: none; 
}
  